body {
    font-family: 'Varela Round', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
}
header {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
nav {
    background-color: #191A1D;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    padding: 10px 15px;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}
nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #0897E7;
    transition: width 0.3s ease, left 0.3s ease;
}
nav a:hover::before {
    width: 100%;
    left: 0;
}
nav a:hover {
    color: #0897E7;
    transform: scale(1.05);
}
section {
    padding: 20px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 42vh;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: auto;
    width: 100%;
}
.logo-container {
    flex: 1;
    text-align: left;
}
.welcome-text {
    flex: 1;
    text-align: right;
    font-size: 18px;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 56px;
}
.button{
    display:ruby-text;
    margin-bottom:50px;
}
.button {
    margin-bottom: 20px;
}
.button a {
    display: inline-block;
    text-decoration: none;
}
.button button {
    padding: 15px 20px;
    background-color: #0093E9;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.button button:hover {
    background-color: #191A1D;
    cursor: pointer;
}
section a {
    color: inherit;
    text-decoration: none;
}

section a {
    padding: 6px;
    background:
            linear-gradient(
                    to right,
                    rgba(100, 200, 200, 1),
                    rgba(100, 200, 200, 1)
            ),
            linear-gradient(
                    to right,
                    rgba(255, 0, 0, 1),
                    rgba(255, 0, 180, 1),
                    rgba(0, 100, 200, 1)
            );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

section a:hover {
    background-size: 0 3px, 100% 3px;
}