<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <meta name="description" content="Aplikacja webowa zaprojektowana na potrzeby pracowni specjalistycznej z przedmiotu projektowanie aplikacji biznesowych w oparciu o platformę java"/>
    <meta name="version" content="1.0.2"/>
    <meta name="author" content="Artur Leszczak, Mateusz Fiedosiuk, Jakub Dąbrowski, Filip Kucharczyk"/>

    <!-- GOOGLE FREE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/article-creator.css}">
</head>
<body>
<div class="loginFormBox">
    <h2>Utwórz nowy artykuł</h2>
    <div class="horizontalLine"></div>
    <form th:action="@{/protected/article/create}" method="post">
        <div class="textBlock">
            <label for="subject">Temat:</label>
            <select id="subject" name="subjectId">
                <option value="">Wybierz temat...</option>
                <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subject_text}"></option>
            </select>
        </div>
        <div class="textBlock">
            <label for="article">Treść nazwy artykułu:</label>
            <textarea type="text" id="article" name="articleTitle" required placeholder="Treść nazwy artykułu" maxlength="256" minlength="1"></textarea>
        </div>

        <input type="submit" value="Utwórz artykuł">
        <p th:if="${param.error}">Nie udało się utworzyć tematu.</p>
        <a th:href="@{/protected/mainpage}" style="margin-top: 10px;">Wróć do strony głównej</a>
    </form>
</div>

<footer>
    2024 | Programowanie aplikacji biznesowych w oparciu o platformę Java | Wszelkie prawa zastrzeżone |<br>
    Autorzy: Artur Leszczak, Mateusz Fiedosiuk, Jakub Dąbrowski, Filip Kucharczyk
</footer>
</body>
</html>

