<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign Role</title>
    <!-- GOOGLE FREE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assign-role.css}">
</head>
<body>
<div class="loginFormBox">
<h1>Assign Role to User</h1>
<form action="/protected/assign-role" method="post">
    <label for="userId">Select User:</label>
    <select id="userId" name="userId">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"></option>
    </select>
    <br>
    <label for="roleId">Select Role:</label>
    <select id="roleId" name="roleId">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <br>
    <button type="submit">Assign Role</button>
    <a th:href="@{/protected/mainpage}" style="margin-top: 10px;">Wróć do strony głównej</a>
</form>
</div>
</body>
</html>
