<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign Role</title>
</head>
<body>
<h1>Assign Role to User</h1>
<form action="/protected/assign-role" method="post">
    <label for="userId">Select User:</label>
    <select id="userId" name="userId">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"></option>
    </select>
    <br>
    <label for="roleId">Select Role:</label>
    <select id="roleId" name="roleId">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <br>
    <button type="submit">Assign Role</button>
</form>
</body>
</html>
