<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/category.css}">
</head>
<body>
<header>
    <h1>Forum</h1>
</header>
<nav>
    <a th:href="@{/protected/mainpage}">Strona główna</a>
    <a th:href="@{/protected/category}">Kategorie</a>
    <a th:href="@{/protected/about}">Opis</a>
    <a th:href="@{/protected/contact}">Kontakt</a>
</nav>
<div style="margin-top: 100px"></div>
<div class="button">
    <a th:href="@{/protected/category/create}"><button>Stwórz nową kategorię</button></a>
</div>
<div style="display: ruby-text">
    <table>
        <tr th:if="${categories.isEmpty()}">
            <td colspan="2">Aktualnie nie ma żadnych kategorii</td>
        </tr>
        <tr th:each="category : ${categories}">
            <td><span th:text="${category.category_name}">Title</span></td>
        </tr>
    </table>
</div>
<footer>
    <p>&copy; 2024 Forum Wszelkie prawa zastrzeżone</p>
</footer>
</body>
</html>
