<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tworzenie kategorii</title>
    <meta name="description" content="Aplikacja webowa zaprojektowana na potrzeby pracowni specjalistycznej z przedmiotu projektowanie aplikacji biznesowych w oparciu o platformę java"/>
    <meta name="version" content="1.0.2"/>
    <meta name="author" content="Artur Leszczak, Mateusz Fiedosiuk, Jakub Dąbrowski, Filip Kucharczyk"/>

    <!-- GOOGLE FREE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/create_category.css}">
</head>
<body>
<div class="loginFormBox">
    <h2>Utwórz nową kategorię</h2>
    <div class="horizontalLine"></div>
    <form th:action="@{/protected/category/create}" method="post">
        <div class="textBlock">
            <label for="category">Nazwa kategorii</label>
            <textarea type="text" id="category" name="name" required placeholder="Treść kategorii" maxlength="128" minlength="1"></textarea>
        </div>

        <input type="submit" value="Utwórz kategorię">
        <p th:if="${param.error}">Nie udało się utworzyć kategorii.</p>
        <a th:href="@{/protected/mainpage}" style="margin-top: 10px;">Wróć do strony głównej</a>
    </form>
</div>

<footer>
    <p>&copy; 2024 Forum Wszystkie prawa zastrzeżone</p>
</footer>
</body>
</html>

