<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <meta name="description" content="Aplikacja webowa zaprojektowana na potrzeby pracowni specjalistycznej z przedmiotu projektowanie aplikacji biznesowych w oparciu o platformę java"/>
    <meta name="version" content="1.0.2"/>
    <meta name="author" content="Artur Leszczak, Mateusz Fiedosiuk, Jakub Dąbrowski, Filip Kucharczyk"/>

    <!-- GOOGLE FREE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">


    <link th:href="@{/login.css}" rel="stylesheet">
</head>

<body>
<div class="loginFormBox">
    <h2>Logowanie</h2>
    <div class="horizontalLine"></div>
    <form th:action="@{/login}" method="post">
        <div class="textBlock">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required pattern="^[a-ząćęłńóśźżA-ZĄĆĘŁŃÓŚŹŻ0-9]{3,16}$" placeholder="Login konta">
        </div>
        <div class="textBlock">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required pattern="^(?=.*[a-ząćęłńóśźż])(?=.*[A-ZĄĆĘŁŃÓŚŹŻ])(?=.*\d)(?=.*[@$!%*?&])[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ\d@$!%*?&]{8,}$" placeholder="Hasło do konta">
        </div>

        <input type="submit" value="Zaloguj się" style="color: white">

        <p th:if="${param.error}">Niepoprawne hasło</p>
        <a th:href="@{/register}" style="margin-top: 10px;">Wróć do rejestracji</a>
    </form>
</div>

<footer>
    2024 | Programowanie aplikacji biznesowych w oparciu o platformę Java | Wszelkie prawa zastrzeżone |<br>
    Autorzy: Artur Leszczak, Mateusz Fiedosiuk, Jakub Dąbrowski, Filip Kucharczyk
</footer>
</body>
</html>
