<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <meta name="description" content="Aplikacja webowa zaprojektowana na potrzeby pracowni specjalistycznej z przedmiotu projektowanie aplikacji biznesowych w oparciu o platformę java"/>
    <meta name="version" content="1.0.2"/>
    <meta name="author" content="Artur Leszczak, Mateusz Fiedosiuk, Jakub Dąbrowski, Filip Kucharczyk"/>

    <!-- GOOGLE FREE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/register.css}">
</head>

<body>
<div class="loginFormBox">
    <h2>Rejestracja</h2>
    <div class="horizontalLine"></div>
    <form action="/register" method="post">
        <div class="textBlock">
            <label for="name">Imię:</label>
            <input type="text" id="name" name="name" th:required="true">
        </div>
        <div class="textBlock">
            <label for="surname">Nazwisko:</label>
            <input type="text" id="surname" name="surname" th:required="true">
        </div>

        <div class="textBlock">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" th:required="true">
        </div>
        <div class="textBlock">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:required="true">
        </div>

        <div class="textBlock">
            <label for="emailConfirm">Powtórz email:</label>
            <input type="email" id="emailConfirm" name="emailConfirm" th:required="true">
        </div>
        <div class="textBlock">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" th:required="true">
        </div>
        <div class="textBlock">
            <label for="passwordConfirm">Powtórz hasło:</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" th:required="true">
        </div>

        <input type="submit" value="Załóż konto" style="color: white">
    </form>

    <a href="/">Przejdź do logowania</a>
</div>
</body>
</html>
